<div class="panel panel-default" style="margin-top: 30px;">

	<div class="panel-heading">

		<h3 class="panel-title">The purpose of this site is to train with Mean.js.</h3>

	</div>


	<div class="panel-body">

		<p><b>Installation of Mean.js:</b></p>
		<ol>
			<li>Make sure the proper yeoman generator is installed globally. If not,
				<code>npm install -g generator-meanjs</code>.</li>
			<li>Go to the project's folder.</li>
			<li>Install mean.js by entering <code>yo meanjs</code></li>
			<li>Select to create CRUD functionality.</li>
			<li>Important: the name of the app determines the name of the db, so do not name two apps with the same
				name because they will use the same database.</li>
			<li>Other questions: the defaults can work fine.</li>
			<li>Run <code>mongod</code> in a secondary terminal window.</li>
			<li>Launch the site entering <code>grunt</code></li>
			<li>Initial commit with git</li>
			<li>Push to github (if error: open .git/config and change https by ssh://git@github.com)</li>
			<li>Sign up in the new site.</li>
			<li>app folder: server files (node, express, mongo).</li>
			<li>public folder: client files (AngularJS).</li>
			<li>config/env/development: link to the database.</li>
			<li>To add a crud module, we use yeoman sub-generators: <code>yo meanjs: crud-module moduleName</code></li>
			<li>Other sub-generators: http://meanjs.org/generator.html</li>

		</ol>


	</div>

</div>